.layout {
  height: calc(100vh - 351px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("public/18cc0cc66d9c2d87e43a7d74e1da785a.jpg") center / cover;
  border-radius: 26px 26px 0 0;
  margin-top: 100px;
}