.container {
  display: flex;
  padding: 30px 50px;
  border-radius: 20px;
  border: 1px solid #C1C2C5;
  background: #FFF;
  justify-content: space-between;
  align-items: center;
}

.stationTime {
  display: flex;
  gap: 70px;
}

.dataColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label {
    color: #909296;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  &__value {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
  }
}

.pricing {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px ;

  &__text {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__label {
    color: #909296;
    font-style: normal;
    font-weight: 400;
  }

}
.choosing {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__price {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
  }
}

.button {
  transition: .2s;
}