.title {
  text-align: center;
  color: #141517;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}